<%= form_for Answer.new do |f| %>
        <div class="form-group">
          <%= f.label  :text, 'Комментарий' %><br>
          <%= f.text_area :text, class: 'form-control', placeholder: 'Введите ваш комментарий' %>
        </div>
        <%= f.hidden_field :question_id, value: @question.id %>

        <div>
          <%= f.submit 'Отправить комментарий', class: 'btn btn-primary' %>
        </div>
<% end %>