<!DOCTYPE html>
<html>
<head>
  <title>NikitaOverflow</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <li role="navigation"><%= link_to "Выйти", destroy_user_session_path, :method => :delete, class: "small btn btn-info" %></li>

    <%= yield %>

</body>
</html>
