<!DOCTYPE html>
<html>
<head>
  <title>NikitaOverflow</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Личный поток Никитки", root_path, :method => :get, class: "navbar-brand" %>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %><li class="active"><%= link_to "Выйти", destroy_user_session_path, :method => :delete, class: "" %></li>
        <% else %><li class="active"><%= link_to "Войти", new_user_session_path, :method => :get, class: "" %><% end %>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
</div>
<div class="upper"></div>


<div class="container">
  <div class="row">
    <div style="height: 50px; margin-left: 2.5%;">
        <p class="notice h4 text-warning"><%= notice %></p>
        <p class="alert h4 text-danger"><%= alert %></p>
    </div>
    <div class="col-md-8">
      <%= yield %>
    </div>
    <div class="col-md-4">
        <% if @last_questions.count > 0 %>
            <h3>Свежие вопросы:</h3>
              <ul class="nav nav-pills nav-stacked">
                <% @last_questions.each do |question| %>
                    <li><%= link_to question.title, question_path(question), class: "info" %></li>
                <% end %>
              </ul>
        <% end %>
    </div>
  </div>
</div>



</body>
</html>
